.topnav{
    overflow: visible;
    background-color: #e9e9e9;
}
/* định hình cho links bên trong thanh điều hướng */
.topnav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* đổi màu link */
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
.topnav a.active{
    background-color: #2196F3;
    color: white;
}
.topnav select{
    float: right;
    font-size: 17px;
    margin-top: 8px;
    margin-right: 16px;
}
.topnav a.sub{
    float: right;
    background-color: #ddd;
    color: black;
}
.question{
    margin: 0 auto; /* Để căn giữa các câu hỏi */
    max-width: 600px; /* Điều chỉnh độ rộng tối đa của các câu hỏi */
}
button[type="submit"] {
    display: block; /* Đảm bảo nút "Nộp bài" chiếm toàn bộ chiều ngang của container */
    margin: 0 auto; /* Để căn giữa nút "Nộp bài" */
}
